.heading{
    color:#4285f4;
    font-family: 'Poppins', sans-serif;
}

img{
    border-radius: 100%;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
}

body{
    padding: 1rem;
    background-color: gold;
    margin: 25px 50px 75px;
    text-align: left;
}

button{
    background-color: #4285f4;
    color:white;
    border: none;
    padding: 6px;
    border-radius: 5px;
}

