.heading{
    color:#4285f4;
    font-family: 'Poppins', sans-serif;
}

img{
    border-radius: 100%;
}

body{
    padding: 1rem;
}

button{
    background-color: #4285f4;
    color:white;
    border: none;
    padding: 6px;
    border-radius: 5px;
}

p{
  font-family:  'Montserrat', sans-serif;
}
li{
  font-family: 'Montserrat', sans-serif;
  list-style-position: inside;
  padding: 4%;
}
table {
  border-collapse: collapse;
  display: inline-block;


}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #4285f4;
  color: white;
}

body{
  text-align: center;
}
ol{
  display: inline-block;
  padding-left: 0;
  margin-top: 0;

}
ul{
  display: inline-block;
  padding-left: 0;
  margin-top: 0;

}
.heading{
  margin-top: 30px;
  margin-bottom: 10px;
}
