.heading{
    color:#4285f4;
    font-family: 'Poppins', sans-serif;
}

img{
    border-radius: 100%;
}

body{
    padding: 1rem;
}

button{
    background-color: #4285f4;
    color:white;
    border: none;
    padding: 6px;
    border-radius: 5px;
}

p{
  font-family:  'Montserrat', sans-serif;
}
li{
  font-family: 'Montserrat', sans-serif;
}
table {
  border-collapse: collapse;
  width: 30%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #4285f4;
  color: white;
}
